@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

/* reset */
body {
	font:normal 12px 'GG-Webfont', Arial, sans-serif ,"Helvetica", "AppleSDGothicNeo" ,'tahoma';
    line-height:1.3;
    font-size: 15px;
	background-color:#fff;
	margin:0;
    padding:0;
    letter-spacing: 0px;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {list-style:none;}
img {border:0;}
a {text-decoration:none; color:#333;}
table {width: 100%; border-collapse: collapse;}
em {font-style: normal;}
i {font-style: normal;}
footer{ background: #f8f9fb;}

/* header */
header {position: fixed; width:100%; height:90px; background-color: white; z-index: 9999;}
.header_wrap  {height:90px; max-width: 1150px; margin: 0 auto;}
.header_wrap::after {display: block; clear: both; content: ''; }
.header_wrap > h1 {float: left; margin-top:27px;}
.header_wrap > h1 > a > img {width:200px;}
.header_wrap > nav {float: left;margin: 30px 0 0 70px;}
.header_wrap > nav > ul > li {display: inline-block;}
.header_wrap > nav > ul > li > a {margin: 0 8px; font-size: 20px;}
.header_wrap > .utill {float: right; margin-top:25px;}
.header_wrap > .utill > a:nth-child(2) {background-color: #696e6a; color:white; 
    font-size:16px; padding:6px; display: inline-block; vertical-align: top;}


/* slide */
main {padding-top:90px;}
.slideimg {position: relative;}
.slide_wrap > li .title_text {position: absolute; top:0; color:white; z-index: 5; 
    text-align: center; width:100%; padding-top:400px;}
.slide_wrap > li .title_text > p {font-size: 34px;}
.slide_wrap > li .title_text > strong {font-size: 60px;}
div.bx-wrapper {box-shadow: none; border:none; padding:0; margin:0;}
div.bx-pager {display:none;}
div.bx-wrapper .bx-controls-direction a {height:53px; z-index: 100;}
div.bx-wrapper .bx-prev {background: url('../images/btn_left.png') no-repeat; left:170px;}
div.bx-wrapper .bx-prev:hover {background-position: unset;}
div.bx-wrapper .bx-next {background: url('../images/btn_right.png') no-repeat; right:170px;}
div.bx-wrapper .bx-next:hover {background-position: unset; }

.news {position: absolute; bottom:0; background-color: rgba(255, 255, 255, 0.8);
     padding: 20px 40px; left:50%; transform: translateX(-50%);
    width:1100px;}
.news::after {content: ''; display: block; clear:left}
.news > p {float: left; font-size: 25px; margin-right: 120px;}
.news > .news_text {float: left; width:800px; line-height: 30px;}
.news > .news_text > .data {float: right;}

/* section1 */
.section1 {border:1px solid #cecece; width: 1200px; margin: 50px auto;}
.section1 > .top {height:300px; position: relative; padding:40px 40px 0;}
.section1 > .top::after {content: ''; clear: both; display: block;}
.section1 > .top .tab {width:720px; float: left; position: relative;}
.section1 > .top > h4 {font-size:24px; margin-bottom:20px;}
.section1 > .top .tab > .item.on > .content {display: block;}
.section1 > .top .tab > .item.on > a {border:1px solid #555; background: white;}
.section1 > .top .tab > .item {display: block; float: left; width:100%; }
.section1 > .top .tab > .item > a {text-align: center; padding:10px; box-sizing: border-box; border:1px solid #e3e3e3; width:30%; position:absolute; left:0;
line-height: 25px; display:block; background: #f9f9f9;}
.section1 > .top .tab > .item + .item > a {margin-left:10px;}
.section1 > .top .tab > .item:nth-child(2) > a {left:30%}
.section1 > .top .tab > .item:nth-child(3) > a {left:calc(60% + 10px)}
.section1 > .top .tab > .item > .content {padding:15px 15px 15px 20px; position: absolute; width:calc(100% - 20px); top:55px; display: none;}
.section1 > .top .tab > .item > .content > li {position: relative;}
.section1 > .top .tab > .item > .content > li + li {margin-top:15px;}
.section1 > .top .tab > .item > .content > li > a::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -12px;
    width: 4px;
    height: 4px;
    background: #777;}
.section1 > .top .tab > .item > .content > li > span {float: right;}
.section1 > .top  .tab .plus_btn {position: absolute; top:0; right:0; border:1px solid #cecece;}
.section1 > .top  .tab .plus_btn > img {padding:15px; vertical-align: middle;}



.photo_slider div.bx-controls-direction {display: none;}
.photo_slider div.bx-pager {display: block; top:10px; padding:0; bottom:0; }
div.bx-wrapper div.bx-controls.bx-has-controls-auto.bx-has-pager div.bx-pager {text-align: right; width:85%;}
div.bx-wrapper .bx-pager.bx-default-pager a {border:1.5px solid white; background: transparent; margin: 0 2px; width:8px; height: 8px;}
div.bx-wrapper .bx-pager.bx-default-pager a.active {background: white;}
div.bx-controls-auto {top:8px; padding:0; bottom:0;}
div.bx-wrapper .bx-controls-auto .bx-start{background: url('../images/bx-play2.png') no-repeat;}
div.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {width:50px;}
div.bx-wrapper .bx-controls-auto .bx-start.active {background-position: 0 0;}
div.bx-wrapper .bx-controls-auto .bx-stop {background: url('../images/bx-stop2.png') no-repeat;}
div.bx-wrapper .bx-controls-auto .bx-stop.active  {background-position: 0 0;}
div.bx-wrapper .bx-controls-auto .bx-stop:hover {background-position: 0 0;}
.section1 > .top > .photo_slider {width:360px; float: right;}
.section1 > .top > .photo_slider::after {display: block; content: ''; clear: right;}
.section1 > .top > .photo_slider ul > li {height:auto; padding:30px;}
.section1 > .top > .photo_slider ul > li > a {color:white;}
.section1 > .top > .photo_slider ul > li > a > strong {display: block; font-size:30px; position: relative;}
.section1 > .top > .photo_slider ul > li > a > strong::after {content:''; position: absolute; top:50px; left: 0;width:10px; border:1px solid white;}
.section1 > .top > .photo_slider ul > li > a > span:nth-child(2) {display: block; margin:30px 0; font-size: 13px;}
.section1 > .top > .photo_slider ul > li > a > span:nth-child(3) {display: inline-block; padding:7px 40px; border:1px solid white;}
.section1 > .top > .photo_slider ul > li:nth-child(1) {background:url('../images/fieldStory1.jpg')}
.section1 > .top > .photo_slider ul > li:nth-child(2) {background:url('../images/fieldStory2.jpg')}
.section1 > .top > .photo_slider ul > li:nth-child(3) {background:url('../images/fieldStory3.jpg')}
.section1 > .top > .photo_slider ul > li:nth-child(4) {background:url('../images/fieldStory4.jpg')}
.section1 > .bottom {padding:0 40px 40px;}
.section1 > .bottom::after {content:''; display: block; clear: left;}
.section1 > .bottom > ul > li {width: 360px; height:300px; box-sizing: border-box; float: left; text-align: center; position: relative;}
.section1 > .bottom > ul > li > img {margin-top:30px;}
.section1 > .bottom > ul > li:nth-child(1) {background: url('../images/bg_organ01.jpg');}
.section1 > .bottom > ul > li:nth-child(2) {background: url('../images/bg_organ02.jpg')}
.section1 > .bottom > ul > li:nth-child(3) {background: url('../images/bg_organ03.jpg')}
.section1 > .bottom > ul > li + li {margin-left:20px;}
.section1 > .bottom > ul > li > a {position: absolute; top:15px; right:15px; padding:5px; background:rgba(255, 255, 255, 0.2); font-size: 0;}
.section1 > .bottom .img_text {padding: 10px 30px;}
.section1 > .bottom .img_text > a > strong {font-size:24px; color:white;}
.section1 > .bottom .img_text > span {display: block; margin-top:10px; color:white;}



.section_bg {background: #f6f6f6; z-index: -1; padding:50px 0;}
/* section2 */
.section2 {width: 1200px; margin: 0 auto;}
.sns_wrap {border: 1px solid #e4e4e4; margin-bottom:50px; background:white;}
.sns_wrap > div {width:33.3333%; float: left; padding:40px; height: 360px; 
    box-sizing: border-box; overflow: hidden; border-right: 1px solid #e4e4e4;}
.sns_wrap > div:last-child {border-right: none;}
.sns_wrap > div > img {margin-bottom:20px;}
.sns_wrap > div ul > li {margin-top: 15px; margin-left:15px; position: relative;}
.sns_wrap > div ul > li > a {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:100%;
}
.sns_wrap > div ul > li > a::before {content: ''; position: absolute; top:6px; left:-12px; width:4px; height: 4px; background: #777;}
.sns_wrap::after {content: ''; display: block; clear: both;}


.photo_wrap {border: 1px solid #e4e4e4; padding:40px 40px; background:white; margin-bottom:50px;}
.photo_wrap > .left {float: left; width: calc(65% - 80px); }
.photo_wrap > .left > p {font-size:20px; margin-bottom:15px;}
.photo_wrap > .left ul {width:100%;}
.photo_wrap > .left ul > li {width: calc(33.33333% - 15px); float: left; margin-left:15px;}
.photo_wrap > .left ul > li:first-child {margin:0;}
.photo_wrap > .left ul > li img {width:100%; height: 149px;}
.photo_wrap > .left ul > li span {text-align: center; display: block; margin-top:15px; font-weight: bold;}
.photo > li span {display: block;}
.photo img {width:230px;}
.photo_wrap > .right {float: right;}
.photo_wrap::after {content: ''; display: block; clear: both;}


/* section3 */
.section3 {width:1200px; margin: 0 auto;}
.section3 > .service::after{display: block; content: ''; clear: left;}
.section3 > .service {position: relative; border-top:1px solid #cecece; 
    border-bottom:1px solid #cecece; margin-bottom:50px; height:108px;}
.section3 > .service > li {float: left; width:120px; font-size: 0;}
.section3 > .service > li + li::after{content: ''; position: absolute; top:35px; height: 45px; width:1px; background-color: #cecece;}
.section3 > .service > li:last-child::after {height:100%; top:0;}

/* .section3 > .logo {margin-top:50px;} */
.section3 > .logo > li {float: left;}
.section3 > .logo::after{display: block; content: ''; clear: left;}
.section3 > .logo > li + li {margin-left:12px;}

/* footer */
footer {background-color:white;}
.footer_wrap > .top {padding:20px 0; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;}
.footer_wrap > .top > .top_wrap {max-width:1200px; margin:0 auto;}
.footer_wrap > .top > .top_wrap > ul > li {display: inline-block; margin:5px;}
.footer_wrap > .top::after {display: block; content: ''; clear: both;}
.footer_wrap > .top > .top_wrap > span {float: left;}
.footer_wrap > .top > .top_wrap > ul {float: right;}

.footer_wrap > .bottom {margin:45px 0; position: relative;}
.footer_wrap > .bottom > .bottom_wrap {max-width:1180px; margin:0 auto;}
.footer_wrap > .bottom > .bottom_wrap > ul {margin-bottom:15px;}
.footer_wrap > .bottom > .bottom_wrap > ul::after {display: block; content:''; clear: left;}
.footer_wrap > .bottom > .bottom_wrap > ul > li {float:left; position: relative;}
.footer_wrap > .bottom > .bottom_wrap > ul > li {padding: 0 7px;}
.footer_wrap > .bottom > .bottom_wrap > ul > li:first-child {padding: 0 7px 0 0;}
.footer_wrap > .bottom > .bottom_wrap > ul > li + li::after {content: ''; position: absolute; top:3px; left:0; border:1px solid rgba(62, 62, 62, 0.697); height: 10px;}
.footer_wrap > .bottom > .bottom_wrap > p + p {margin-top: 5px;}
.footer_wrap > .bottom > .bottom_wrap > a {position: absolute; top:40px; right:370px;}
.footer_wrap > .bottom > .bottom_wrap > a > img {width:90px;}
.bottom div.bx-wrapper {position:absolute; top:40px; right: 167px; width: 190px;}
.bottom div.bx-controls-direction {display: none;}
.bottom div.bx-controls-auto {left:0; top: -35px;}
.bottom div.bx-pager .divbx-default-pager {background:black; display: block;}
.bottom div.bx-wrapper img {border:1px solid #e7e7e7;}
.bottom div.bx-wrapper .bx-controls-auto .bx-start {background: url('../images/btn_play.jpg') no-repeat; width:17px; height:19px;}
.bottom div.bx-wrapper .bx-controls-auto .bx-stop {background: url('../images/btn_stop.jpg') no-repeat; width:17px; height:19px;}}